@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=Vollkorn:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500;10..48,600;10..48,700;10..48,800&display=swap');
@font-face{
    font-family: One-piece font;
    src: url(fonts/one\ piece\ font.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(backgrounds/intro\ background.jpg);
    background: black;
    color: white;
}

#header1 {
    width: 100%;
    height: 100vh;
    background-image: url(backgrounds/intro\ background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    margin: auto;
    left: 0;
    z-index: 1000;
    padding: 0 50px;
    /* background-color: rgb(43, 43, 43); */
}

.logo {
    font-size: 45px;
    font-weight: 900;
}

.logo1 {
    font-weight: 800;
    text-decoration: none;
    color: aqua;
    background: linear-gradient(to right, aqua 50%, #CC2E5D 50%, #CC2E5D);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s ease-out;
}

.logo1:hover {
    background-position: -100%;
}

nav {
    width: 100%;
    top: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 25px 16px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    /* font-weight: 520; */
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #CC2E5D;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.menucv button {
    width: 10vw;
    height: 6vh;
    /* padding: 12px 20px; */
    border-radius: 14px;
    color: black;
    background-color: aqua;
    font-size: 18px;
    font-weight: 600;
    margin: 0 8px;
    cursor: pointer;
}

.menucv button:hover {
    background-color: #CC2E5D;
    color: black;
}

/* **************************************************************into scree******************************************************************** */

.into-header{
    /* padding-top: 100px; */
    width: 100%;
    height: 100vh;
    font-family: 'Syne', sans-serif;
    font-size: 50px;
    /* font-weight: 500; */
    text-shadow: rgb(0, 0, 0) 8px +5px 1PX;
    display: flex;
    justify-content: center;
    align-items: center;
}
#into-page{
    padding: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.into-me{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.into-name{
    font-family: 'Syne', sans-serif;
    font-size: 45px;
}

.intro-bio{
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.in{
    font-family: 'Syne', sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: #ff8000;
    text-decoration: none;
}
.in:hover {
    color: #CC2E5D;
}
.d{
    font-family: 'Syne', sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}
.d:hover {
    color: #CC2E5D;
}
.ia{
    font-family: 'Syne', sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: #138808;
    text-decoration: none;
}
.ia:hover {
    color: #CC2E5D;
}
.intro-bio b{
    color: #39ff14;
}

.gamer{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.gamer a{
    font-family: Consoles font;
    color: rgb(0, 111, 255);
}
.anime{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.op{
    font-family: One-piece font;
    font-size: 25px;
    color: skyblue;
    text-decoration: none;
}
.op:hover {
    color: #CC2E5D;
}

.travel{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.travel a{
    color: #b70101;
}
.travel b{
    color: #FCF4A3;
}

.concld{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.concld a{
    text-decoration: none;
    font-size: 23px;
}
.e{
    font-weight: 800;
    color: #3e65cf;
}
.e:hover {
    color: #CC2E5D;
}
.fa-envelope{
    margin-left: 1px;
    margin-right: 1px;
    font-size: 17px;
    font-weight: 900;
    /* color: #c71610; */
}
.fa-envelope:hover {
    color: #CC2E5D;
}
.a{
    font-weight: 800;
    color: #f2a60c;
}
.a:hover {
    color: #CC2E5D;
}
.i{
    font-weight: 800;
    color: #3b60c4;
}
.i:hover {
    color: #CC2E5D;
}
.l{
    font-weight: 800;
    color: #08851b;
}
.l:hover {
    color: #CC2E5D;
}
.into-linkdin{
    font-weight: 900;
    color: #0072B1;
}
.into-linkdin:hover {
    color: #CC2E5D;
}
.fa-linkedin{
    margin-left: 3px;
    margin-right: 1px;
}

.game-discord{
    padding-top: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.game-discord a{
    font-size: 22px;
    text-decoration: none;
    font-weight: 800;
    color: #5865F2;
}
.game-discord a:hover {
    color: #CC2E5D;
}
/* ***********************************************************mouse***************************************************************************** */

.mouse {
    position: absolute;
    bottom: 250px;
    left: 50%;
    margin-left: -15px;
    text-align: center;
    z-index: 100;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .mouse h3 {
    margin-left: -14px;
    padding-top: 15px;
  }
  
  .mouse-icon {
    width: 25px;
    height: 45px;
    border-radius: 15px;
    position: relative;
    border: 2px solid #dedede;
    text-align: center;
  }
  .mouse-icon span {
    width: 3px;
    height: 8px;
    margin: 2px auto 0;
    display: block;
    background: #dedede;
    border-radius: 5px;
    -webkit-animation: 1.2s ease infinite wheel-up-down;
            animation: 1.2s ease infinite wheel-up-down;
  }
  
  @-webkit-keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 20px;
      opacity: 0;
    }
  }
  
  @keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 20px;
      opacity: 0;
    }
  }


  nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(pics/mobile-backgroung.png);
    }

    .logo {
        font-size: 40px;
    }

}



/* game */
@font-face {
    font-family: 'SMB';
    src: local('Super Mario Bros.'),
         url('fonts/Super Mario Bros.ttf') format('truetype');
    font-style: normal;
 }

 .mario-title{
    font-family: 'SMB';
    font-size: 30px;
    text-align: center;
 }

 .mario-title2{
    font-family: 'SMB';
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
 }

 .mario_M{
    font-family: 'SMB';
    color: red;
 }
 .mario_A{
    font-family: 'SMB';
    color: green;
 }
 .mario_R{
    font-family: 'SMB';
    color: yellow;
 }
 .mario_I{
    font-family: 'SMB';
    color: blue;
 }
 .mario_O{
    font-family: 'SMB';
    color: green;
 }


 #game {
     height: 480px;
     width: 640px; 
     position: absolute; 
     left: 50%; 
     top: 50%;
     margin-left: -321px; 
     margin-top: 1200px; 
     border: 1px solid #ccc; 
     overflow: hidden;
 }
 #world { 
     margin: 0; 
     padding: 0; 
     height: 100%; 
     width: 100%; 
     position: absolute;
     bottom: 0; 
     left: 0; 
     z-index: 0;
 }
 .gauge {
     margin: 0; 
     padding: 0; 
     height: 50px; 
     width: 70px; 
     text-align: right; 
     font-size: 2em;
     font-weight: bold; 
     position: absolute; 
     top: 17px; 
     right: 52px; 
     z-index: 1000;
     position: absolute; 
     font-family: 'SMB';
 }
 .gaugeSprite {
     margin: 0; 
     padding: 0; 
     z-index: 1000; 
     position: absolute;
 }
 #coinNumber {
    color: black;
     left: 0;
 }
 #liveNumber {
    color: black;
     right: 52px;
 }
 #coin {
     height: 32px; 
     width: 32px; 
     background-image : url(mario-objects.png);
     background-position: 0 0; 
     top: 15px; 
     left: 70px;
 }
 #live {
     height: 40px; 
     width: 40px; 
     background-image : url(mario-sprites.png);
     background-position : 0 -430px; 
     top: 12px; 
     right: 8px;
 }
 .figure {
     margin: 0; 
     padding: 0; 
     z-index: 99; 
     position: absolute;
 }
 .matter {
     margin: 0; 
     padding: 0; 
     z-index: 95; 
     position: absolute; 
     width: 32px; 
     height: 32px;
 }
